:root {
    --clr-outline: rgba(31, 31, 31, 0.9);
}


.InsComp {
    display: block;
    width: 100%;
    margin-left: 0;
    border-top: 1px solid rgb(50, 50, 50);
    border-bottom: 1px solid rgb(50, 50, 50);
    background-color: rgb(80, 80, 80);
}

.InsComp .content {
    /*overflow: auto!important;*/
}

.InsComp > header {
    background-color: rgba(77, 77, 77, 0.4);
    padding: 6px 0 6px 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    font-size: 1.2em;
}

.InsComp > header:before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #d6d6d6c9;
    display: inline-block;
    vertical-align: middle;
    margin: 2px 14px 4px 8px; 
}

.InsComp > header:hover {
    background-color: rgba(77, 77, 77, 0.8);
    cursor: pointer;
}

.InsComp.open > header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.InsComp.open {
    padding-bottom: 40px;
}

.InsComp.open > header::before {
    transform: rotate(90deg);
}

.InsComp.array-list-view .content > ul {
    background-color: rgb(77, 77, 77);
    /*border: 1px solid var(--clr-outline);*/
    border-radius: 8px;
    margin: 4px;
}

.InsComp.array-list-view .content > .btn-group {
    display: flex;
    flex-wrap: nowrap;
    float: right;
    margin: 0 20px 0 0;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top: 3px solid rgb(110, 110, 110);
    margin-top: -3px;
}

.InsComp.array-list-view .content > .btn-group > button {
    background-color: rgb(110, 110, 110);
    height: 23px;
    width: 28px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    border: 1px solid var(--clr-outline);
    border-top: 0;
    outline: none;
}

.InsComp.array-list-view .content > .btn-group > button:active {
    background-color: rgba(77, 77, 77, 0.4);
}

.InsComp.array-list-view .content > .btn-group > button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
}

.InsComp.array-list-view .content > .btn-group > button:first-child {
    border-bottom-left-radius: 6px;
}

.InsComp.array-list-view .content > .btn-group > button:last-child {
    border-left: 0;
    border-bottom-right-radius: 6px;
}

.InsComp.array-list-view .content > ul {
    margin: 8px 8px 0 8px;
    border: 3px solid rgba(0, 0, 0, 0.6);
    background-color: rgb(110, 110, 110);
    border-radius: 3px;
    min-height: 50px;
    padding: 2px 0 2px 0;
}

.InsComp.array-list-view .content > ul > li {
    padding: 2px 4px 2px 4px;
}

.InsComp.array-list-view .content > ul > li:hover {
    background-color: rgba(77, 77, 77, 0.8);
    cursor: pointer;
}

.InsComp .content form {
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.35)!important;
}

.InsComp .content form label {
    margin: 3px 0 3px 0;
    padding: 3px 0 3px 0;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.InsComp .content form label > span,
.InsComp .content form label > input,
.InsComp .content form label > select {
    display: inline-block;
    width: auto;
}

.InsComp .content form label > span {
    flex: 1;
}
.InsComp .content form label > input,
.InsComp .content form label > select,
.InsComp .content form label > .input-obj-error {
    flex: 2;
    background-color: rgba(255, 255, 255, 0.35);
}

.InsComp .content form label > .input-obj-error {
    color: rgba(168, 28, 28, 0.6);
}

.InsComp .content form button[type=submit] {
    font-size: 1.45em;
    background-color: rgba(74, 165, 55, 0.35);
    padding: 4px 0 4px 0;
}

.InsComp .content form button[type=submit]:hover {
    background-color: rgba(73, 165, 55, 0.705);
    cursor: pointer;
}