:root {
    --army-primary-clr: 255, 193, 7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,
body {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../style/img/Army-Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.navbar {
    background-color: rgb(var(--army-primary-clr))!important;
    z-index: 1;
}

.navbar a {
    text-decoration: none;
}

.military-branch-select {
    padding-right: 8px;
}

.military-branch-select div {
    height: 50px;
}

.military-branch-select div>* {
    display: block;
    padding: 3px;
}

.military-branch-select div span {
    display: none;
    position: fixed;
    color: black;
    background-color: rgb(var(--army-primary-clr));
    width: 130px;
    margin: -48px 0 0 -25px;
    padding: 30px 0 0 0;
    text-align: center;
    z-index: -10;
    border-bottom: 6px solid black;
}

.military-branch-select div:hover span {
    display: block;
}

.military-branch-select img {
    width: 80px;
}

@media (max-width: 990px) {
    .military-branch-select>a>div {
        display: block;
        border-bottom: 1px solid gray;
    }
    .military-branch-select>a:hover>div {
        background: rgba(255, 255, 255, 0.25);
    }
    .military-branch-select>a>div>* {
        display: inline-block;
    }
    .military-branch-select>a>div>img {
        width: 40px!important;
        height: 40px!important;
        margin: 0;
        padding: 0;
    }
    .military-branch-select>a>div>span {
        border-bottom: 0;
        position: relative;
        margin: 0 0 0 20px;
        padding: 10px 0 5px 0;
        text-align: left;
    }
    .military-branch-select div:hover span {
        display: inline-block;
    }
}

.link-container {
    background-color: white;
    margin-top: 20px;
}

.link-container>details details,
.link-container>details div {
    margin: 4px 0 4px 20px;
}

.link-container>details details>p {
    margin: 5px 0 5px 18px;
    font-size: 0.85em;
}

.card {
    display: inline-flex;
    border: 3px solid rgb(var(--army-primary-clr));
    background: rgb(var(--army-primary-clr));
    padding: 0;
    margin: 8px;
    width: 24rem;
}

.card img,
.card-body,
.card-body * {
    padding: 0;
    margin: 0;
}

.card img {
    width: 100%;
    object-fit: cover;
    max-height: 140px;
}

.card .card-title {
    background: rgb(var(--army-primary-clr));
    padding: 1px 0 1px 3px;
    margin: -20px 0 0 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.98em;
}

.card a {
    color: black;
    text-decoration: none;
}

.card-title a {
    align-content: center;
    flex-grow: 4;
}

.card-title button {
    align-content: flex-end;
    width: 40px;
    font-size: 0.65em;
}

.card-title button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.workspace-panel {
    display: none;
}

.workspace-panel.active {
    display: block;
}