:root {
    --army-primary-clr: 255, 193, 7;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "styleReset.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,
body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fa,
.fas {
    padding-top: 3px;
}

body {
    background-image: url('../style/img/Army-Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 6px;
}

h4 {
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(112, 128, 144, 0.45);
}

p {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 2px;
    font-weight: 500;
}

.navbar,
.footer {
    /*background-color: rgb(var(--army-primary-clr))!important;*/
    z-index: 1;
    padding: .2rem 1rem;
}

.nav-link {
    font-size: 1.4em;
    margin-top: 0;
}

.nav-tabs .nav-link:hover {
    cursor: pointer;
    background-color: rgba(var(--army-primary-clr), 0.45);
}

.nav-tabs .active.nav-link:hover {
    background-color: rgba(var(--army-primary-clr), 0.15);
}

#base-select {
    position: absolute;
    right: 20px;
}

#base-select .form-label {
    font-weight: 800;
    padding-right: 8px;
}

#base-select .form-select {
    padding: 2px;
    min-width: 300px;
}

/*.main-content {
    flex: 1;
    display: flex;
    min-height: calc(100vh - 100px);
    padding-top: 30px;
    padding-bottom: 0;
}*/

.list-menu-items-grid {
    display: flex-wrap;
    font-size: 12px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.5)!important;
    color: rgb(119, 119, 119)!important;
}

.list-menu-items-grid>div {
    flex-flow: column wrap;
    display: inline-flex;
    flex: 1;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    min-width: 100px;
}

.list-menu-items-grid td {
    max-width: 300px;
}

.list-menu-items-grid>div:hover {
    
    cursor: pointer;
}

.list-menu-items-grid>div>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-menu-items-grid>div>span {
    display: block;
    text-align: center;
    margin-top: 5px;
}

.list-menu-items-grid .icon-link,
.list-menu-items-grid a {
    color: white;
    font-weight: 500;
}

.rstm-tree-item--focused {
    z-index: 0 !important;
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
    z-index: 99999 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-item:hover {
    background-color: #179ed3;
    color: white;
}

.body-page {
    background-color: rgba(255, 255, 255, 0.5);
    height: calc(100vh - 70px);
    padding: 3px;
}

.body-page>table {
    display: block;
    width: 96%;
    margin: 3px;
    max-width: 98%;
}

.icon-link {
    color: black;
    text-align: center;
    display: block;
}

td:hover>.icon-link {
    color: white;
    background-color: black;
}

.page-menu {
    background-color: rgba(0, 0, 0, 0.5);
    color: white !important;
    height: calc(100vh - 70px);
    padding: 5px 2px 5px 2px;
}

.rstm-tree-item-group {
    padding-top: 5px;
}

.page-menu li {
    color: white;
}

.navbar a {
    text-decoration: none;
}

.military-branch-select {
    padding-right: 8px;
}

.military-branch-select div {
    height: 50px;
}

.military-branch-select div>* {
    display: block;
    padding: 3px;
}

.military-branch-select div span {
    display: none;
    position: fixed;
    color: black;
    background-color: rgb(var(--army-primary-clr));
    width: 130px;
    margin: -48px 0 0 -25px;
    padding: 60px 0 0 0;
    text-align: center;
    z-index: -10;
    border-bottom: 6px solid black;
}

.military-branch-select div:hover span {
    display: block;
}

.military-branch-select img {
    width: 80px;
}

@media (max-width: 990px) {
    .military-branch-select>a>div {
        display: block;
        border-bottom: 1px solid gray;
    }

    .military-branch-select>a:hover>div {
        background: rgba(255, 255, 255, 0.25);
    }

    .military-branch-select>a>div>* {
        display: inline-block;
    }

    .military-branch-select>a>div>img {
        width: 40px !important;
        height: 40px !important;
        margin: 0;
        padding: 0;
    }

    .military-branch-select>a>div>span {
        border-bottom: 0;
        position: relative;
        margin: 0 0 0 20px;
        padding: 10px 0 5px 0;
        text-align: left;
    }

    .military-branch-select div:hover span {
        display: inline-block;
    }
}

.link-container {
    background-color: white;
    margin-top: 20px;
}

.link-container>details details,
.link-container>details div {
    margin: 4px 0 4px 20px;
}

.link-container>details details>p {
    margin: 5px 0 5px 18px;
    font-size: 0.85em;
}

.card {
    display: inline-flex;
    border: 3px solid rgb(var(--army-primary-clr));
    background: rgb(var(--army-primary-clr));
    padding: 0;
    margin: 8px;
    width: 23rem;
}

.card.sm {
    width: 15rem;
}

.card.lg {
    width: 35rem;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.6);
}

.card img,
.card-body,
.card-body * {
    padding: 0;
    margin: 0;
}

.card img {
    width: 100%;
    object-fit: cover;
    max-height: 140px;
}

.card.sm img {
    max-height: 100px;
}

.card.lg img {
    max-height: 200px;
}

.card .card-title {
    background: rgb(var(--army-primary-clr));
    padding: 4px 0 1px 3px;
    margin: -20px 0 0 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.98em;
}

.card.sm .card-title {
    font-size: 0.85em;
}

.card a {
    color: black;
    text-decoration: none;
}

.card-title a {
    align-content: center;
    flex-grow: 4;
}

.card-title button {
    align-content: flex-end;
    width: 40px;
    font-size: 0.75em;
    height: 30px;
    font-weight: 500;
    padding: 3px 4px 3px 4px;
}

.card-title button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
}

.email-link {
    margin: 0;
}

.hidden {
    display: none;
}

.workspace-panel {
    display: none;
}

.workspace-panel.active {
    display: block;
}

.app-tray {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 8px;
    min-height: 40vh;
    display: flexbox;
}

.app-form {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 5px;
    min-height: 40vh;
}

.app-tray {
    padding: 4px;
    background-color: transparent;
    max-width: 90%;
}

.appIcon {
    width: auto;
    height: auto;
    font-size: 0.85em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 8px;
    vertical-align: top;
    margin: 3px;
}

.appIcon a {
    text-decoration: none;
    color: black;
}

.appIcon img {
    display: block;
    width: 100%;
    min-height: 64px;
    height: auto;
    padding: 8px 8px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.appIcon>*:nth-child(2) {
    display: inline-block;
    padding-top: 3px;
}

.appIcon:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.55);
}

.app-form h1,
.app-tray h1 {
    color: black;
    font-weight: 800;
    font-size: 2em;
    text-align: center;
    padding-top: 15px;
    border-bottom: 1px solid black;
}

.survey_form {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: block;
}

.survey_form label {
    display: block;
    margin-top: 8px;
    font-size: 1.35em;
    font-weight: 600;
}

.survey_form textarea {
    width: 100%;
    min-height: 100px;
}

.survey_form button[type=submit] {
    display: block;
    margin-top: 8px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    font-size: 2.15em;
}

.footer {
    position: fixed;
    bottom: 0;
    padding: 2px 8px 2px 4px;
}

.workspace-toolbar {
    background: rgba(var(--army-primary-clr), 0.75);
    margin-top: 10px;
    padding: 4px;
}

.workspace-toolbar.sub-bar {
    margin-top: 0px !important;
    border-top: 1px solid black;
}

.workspace-toolbar .btn-outline-primary {
    border: 1px solid black;
    color: black;
    font-weight: 600;
}

.workspace-toolbar.sub-bar .btn-outline-primary {
    font-weight: 400;
}

.dropdown-toggle.btn.btn-primary[aria-expanded=true],
.workspace-toolbar .btn-outline-primary.active {
    background-color: rgb(var(--army-primary-clr)) !important;
    border-color: black !important;
    color: black !important;
}

.workspace-toolbar button {
    outline: none !important;
    box-shadow: none !important;
}

.workspace-toolbar .btn-outline-primary:hover {
    background-color: rgba(var(--army-primary-clr), 0.85);
}

.workspace-toolbar .btn .fas,
.workspace-toolbar .btn {
    margin-right: 3px;
    font-size: 1.2rem;
    padding: 1px 4px 1px 4px;
}

.workspace-toolbar .dropdown-toggle {
    background: transparent;
    border-color: black;
    color: black;
    font-size: 1.2em;
}

.app-form-btn {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    background-color: rgba(var(--army-primary-clr), 0.6);
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    color: black;
    text-decoration: none;
}

.app-form-btn:hover {
    cursor: pointer;
    background-color: rgb(var(--army-primary-clr));
    color: black;
    text-decoration: none;
}

.disclaimer {
    display: block;
    font-size: 0.85;
    text-align: center;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.25);
    padding: 3px;
}

.disclaimer b {
    font-weight: 900;
    color: red;
    font-size: 1.25em;
}

.subtext {
    font-size: 0.95em;
    text-decoration: underline;
}

.info-dialogBox {
    position: fixed;
    top: 6px;
    left: 20%;
    right: 20%;
    bottom: 6px;
    display: block;
}

.modal-content {
    border: 1px solid rgb(var(--army-primary-clr));
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.modal-content img {
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
}

.modal-header {
    background-color: rgb(var(--army-primary-clr));
    border-radius: 0;
    margin: 0;
}

.modal-title {
    max-width: 85%;
}

.modal-content-tabs {
    font-size: 0.85em;
}

.btn-close {
    height: 40px;
    width: 40px;
    font-size: 1.4em;
    padding: 3;
    color: white;
    margin-top: -18px;
    margin-right: -8px;
    background: rgb(108, 17, 17);
    background: linear-gradient(0deg, rgba(108, 17, 17, 1) 0%, rgba(185, 44, 44, 1) 50%, rgba(255, 62, 62, 1) 100%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn-close:hover {
    cursor: pointer;
}

.backdrop {
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.dropdown-item {
    text-decoration: none;
    border-bottom: 1px solid lightslategray;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.outlined-section {
    width: 100%;
    display: block;
    padding: 3px;
    border: 1px solid black !important;
}

.outlined-section>header {
    display: inline;
    border: 1px solid black !important;
    background: white;
    padding: 4px 3px;
    position: relative;
    top: -10px;
    font-weight: 600;
}

.favBtn {
    color: black;
    /*z-index: 100;*/
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 4px 2px 2px 2px;
    background: rgba(255, 255, 255, 0.35);
    border-bottom-left-radius: 8px;
    border-color: black;
    border-bottom: 1px solid;
    border-left: 1px solid;
}

.fas.favBtn {
    color: rgb(var(--army-primary-clr));
    border-color: black;
}

.favBtn:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.55);
}

.calendarEventBar {
    background-color: rgb(var(--army-primary-clr));
    text-align: center;
    margin-top: 0;
    padding: 4px 8px;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.card-panel {
    width: 23rem;
    height: 13rem;
    max-height: 13rem;
    min-height: 13rem;
    flex-flow: column wrap;
    float: left;
}

.imgLink {
    width: auto;
    height: 10rem;
    display: block;
}

.card-panel img {
    width: 23rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    filter: grayscale(40%);
}

.card-panel:hover.formElm {
    cursor: pointer;
}

.card-panel.formElm {
    width: 14rem !important;
    height: 12rem !important;
}

.card-panel:hover img {
    filter: none;
}

.card-title {
    padding: 4px;
    font-size: 0.85em;
}

.card-panel a {
    color: black;
    text-decoration: none;
}

.card-panel>* {
    display: inline-block;
    flex: 1;
}

.card-panel .card-panel-content {
    display: inline-block;
    clear: left;
}

.card-panel .card-panel-content>* {
    display: block;
}

.card-panel .mini-side-panel {
    display: none;
    clear: right;
    position: relative;
    width: 24px;
    height: calc(14rem);
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    margin: 0;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: calc(1rem - 34px);
    padding: 8px 3px 8px 3px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 1px solid black;
    z-index: 9;
}

.card-panel .mini-side-panel>i,
.card-panel .mini-side-panel>a>i {
    color: white;
    padding-bottom: 6px;
    display: block;
}

.card-panel:hover .mini-side-panel {
    display: inline-block;
}

.card-panel .mini-side-panel>i:hover,
.card-panel .mini-side-panel>a>i:hover {
    color: yellow;
}

.modal {
    min-height: 40vh;
    min-width: 60vw;
    max-width: 400px;
    background-color: white;
    z-index: 100;
    display: block;
    position: fixed;
    top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

.dialog-wrapper {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9000;
}

.modal>header {
    background-color: var(--primary-color) !important;
    color: white;
}

.banner-img {
    object-fit: cover;
    display: block !important;
    width: 100% !important;
    min-width: 100%;
    max-width: 100%;
    max-height: 40vh !important;
    border-bottom: 1px solid var(--primary-color);
}

.rstm-search {
    padding: 5px;
}

.rstm-tree-item {
    padding: 2px;
    font-size: 0.9em;
}

.page-content {
    display: block;
    background-color: rgba(255, 255, 255, 0.70);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 5px 8px 5px;
}

.page-content p {
    padding: 3px;
}

.page-content h1 {
    font-size: 1.45em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 3px;
    margin-bottom: 5px;
}

.page-content h2 {
    font-size: 1.25em;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 5px;
}

.page-content strong {
    font-weight: 900;
}

.page-content ul,
.page-content ol {
    display: block;
    margin-left: 20px !important;
}

.page-content li {
    list-style: decimal;
    font-weight: 800;
    padding: 4px 5px 4px 20px !important;

}

.sidemenu-section {
    margin: 15px 5px 15px 5px;
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.sidemenu-section.h100>div {
    max-height: 100px;
}

.sidemenu-section.h200>div {
    max-height: 200px;
}

.sidemenu-section.h250>div {
    max-height: 250px;
}

.sidemenu-section.h300>div {
    max-height: 300px;
}

.sidemenu-section.h400>div {
    max-height: 400px;
}

.sidemenu-section.h500>div {
    max-height: 500px;
}

.sidemenu-section h2 {
    margin: 0;
    padding: 5px 15px 5px 15px;
}

.sidemenu-section h2,
.sidemenu-section .accordion-header {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    font-weight: 900;
}

.sidemenu-section .accordion-header:hover,
.sidemenu-section .accordion-header button {
    cursor: pointer;
}

.sidemenu-section .accordion-header button {
    background-color: transparent;
    border: 0;
    display: block;
    width: 100%;
    text-align: left;
    outline: none;
    color: white;
    font-weight: 400;
}

.sidemenu-section .accordion-header button:focus {
    outline: none;
}

.sidemenu-section>div {
    padding: 8px;
    overflow-y: scroll;
}

.gridBtn {
    display: flexbox;
    text-align: center;
    padding: 5px;
}

.gridBtn .btn {
    flex-grow: 1;
    font-family: Arial;
    border-width: 1px;
    color: #666666;
    border-color: #dcdcdc;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    text-shadow: inset 0px 1px 0px #ffffff;
    background: linear-gradient(#ffffff, #f6f6f6);
    text-decoration: none;
    margin: 8px;
}

.gridBtn .btn:hover {
    background: linear-gradient(#f6f6f6, #ffffff);
}

.gridBtn .btn h1 {
    font-size: 1.8em;
}

.gridBtn .btn sub {
    font-size: 0.85em;
}